<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TextEditor.Properties.Settings>
            <setting name="ReloadLastDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="EditorLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="EditorSize" serializeAs="String">
                <value>600, 340</value>
            </setting>
            <setting name="LastFileName" serializeAs="String">
                <value />
            </setting>
        </TextEditor.Properties.Settings>
    </userSettings>
</configuration>